<section id="pagebody" role="main">
    <section id="sidebar">
  		<div id="sponsors">
			<h3><a href="https://twitter.com/arunagw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @arunagw</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</h3>
<h3>
<a href="https://twitter.com/intent/tweet?button_hashtag=RailsConf&text=Checkout%20Twitter%20Leader%20Board%20for%20%40railsconf%20by%20%40arunagw%20%23RailsConf2012" class="twitter-hashtag-button" data-size="large" data-url="http://railsconf2012.rubyonrails.io">Tweet #RailsConf</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
</h3>
			<h3>Leaders</h3>

			<div class="roundbox">
				<% @users.each do |user| %>
				  <div class="logo">
                    <img src=<%= "#{@redis.hget(user[:member], "profile_image_url")}"%>  width="75"  height="75"/>
                    <h4><a href="http://twitter.com/<%= "#{@redis.hget(user[:member], "from_user")}"%>">
                      @<%= "#{@redis.hget(user[:member], "from_user")}"%> (<%= user[:score].to_i%>)
                    </a></h4>
				  </div>
				 <%end%>
			</div> <!-- .roundbox -->
		</div>
	</section>

      <h1 class="tk-adelle">Tweets</h1>

  <div id="sessions">
	  <h3 class="tk-adelle">People who are leading!!</h3>
	  <div id="tweets">
	  	<%= render :partial => 'tweet', :locals => {:tweets => @tweets}%>
	  </div>
	  <div>
  </div>

 </section>
 
 <%= will_paginate @tweets %>
 